In [1]:
# Week 6 Hands-on Lab: Create your Jupyter Notebook

In [2]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [3]:
# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [4]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
* List popular languages that Data Scientists use  
* List libraries used by Data Scientists  
* List common Data Science Tools

In [5]:
# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:  
* Python  
* R  
* SQL  
* Java  
* Scala  
* C++  
* JavaScript  
* Julia

In [6]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
Scientific Computing Libraries in Python:
* Pandas  
* NumPy  

Visualization libraries in Python:
* Matplotlib  
* Seaborn  

High-level machine learning and deep learning libraries:
* Scikit-learn   
* Keras  
* TensorFlow  
* Pytorch

In [7]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

Common Data Science tools include:
|Data Science Tools|
|------------------|
|Hadoop|
|Spark|
|Kafka|
|Tableau|
|PowerBI|
|GitHub|

In [8]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

In [9]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [11]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [12]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

In [13]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Tahnee Stone